/* Additional custom styles can be added here if needed */
::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: #4c1d95;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #6d28d9;
    border-radius: 3px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #8b5cf6;
  }
  